*{
    box-sizing: border-box;
}

.header{
    background-color: #ffffff;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;  
    border-bottom: solid 1px #ccc;  
}

body{
    width: 100%;
}
.main{
    display: block;
    position: relative;
    top: 130px;
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    border: solid 2px #ccc;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
h1{
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    position: relative;
    left: 250px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 39px 40px 47px 40px;
    margin: auto;
}
.nav{
    color: #777777;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 50px;
    position: relative;
    right: 150px;
    width: 400px;
    
}
a:link, a:visited {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    text-decoration: none;
}
h2{
    border-bottom: solid 1.5px #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    margin-left: 20px;
    margin-right: 20px;
}
.about{
    margin: 0 auto;
    padding: 0 20px 0 20px;
}